.DS_Store

#extensions to ignore
*.log
*.pot
*.pyc
 
#directories to ignore
.idea/
/temp
/static/SQLs/
/media/
migrations/
*.sqlite3
local_settings.py
__pycache__
/servstatic/

# ignore at dev-server
/env*
/logs
/pids
/servstatic
/sphinx
collect_static/
