{% extends "base.html"  %}
{% block content %}
<!-- close /.header -->

<!-- Основной контент -->

<!-- begin #page - the container for everything but header -->
<div id="page">
	<!--
    <div class="hero-unit center no-border">
		<div class="container" style="font-family: 'Noto Sans', sans-serif;">
			<h5>Музыкальное отделение</h5>
		</div>

	</div>
    -->
	<!--close hero-unit-->
	<div class="container clearfix" id="main-content"> 
		<!--begin main content-->
		<div class="row-fluid"> 
			<!-- Begin image slider -->
			<div class="flexslider image-slider span4">
				<ul class="slides">
					<!--begin slide content inside each li tag-->
					<li> <img alt="" src="../static/demo/boxed-slider/h001.jpg" />
						<div class="caption no-border">
							<p></p>
						</div>
					</li>
					<li> <img alt="" src="../static/demo/boxed-slider/h002.jpg" />
						<div class="caption no-border">
							<p></p>
						</div>
					</li>
					<li> <img alt="" src="../static/demo/boxed-slider/h003.jpg" />
						<div class="caption no-border">
							<p></p>
						</div>
					</li>
					<li> <img alt="" src="../static/demo/boxed-slider/h004.jpg" />
						<div class="caption no-border">
							<p></p>
						</div>
					</li>
					<li> <img alt="" src="../static/demo/boxed-slider/h005.jpg" />
						<div class="caption no-border">
							<p></p>
						</div>
					</li>
					<li> <img alt="" src="../static/demo/boxed-slider/h006.jpg" />
						<div class="caption no-border">
							<p></p>
						</div>
					</li>
					<li> <img alt="" src="../static/demo/boxed-slider/h007.jpg" />
						<div class="caption no-border">
							<p></p>
						</div>
					</li>
					<li> <img alt="" src="../static/demo/boxed-slider/h008.jpg" />
						<div class="caption no-border">
							<p></p>
						</div>
					</li>
					<li> <img alt="" src="../static/demo/boxed-slider/h009.jpg" />
						<div class="caption no-border">
							<p></p>
						</div>
					</li>
					<li> <img alt="" src="../static/demo/boxed-slider/h010.jpg" />
						<div class="caption no-border">
							<p></p>
						</div>
					</li>
                    
				</ul>
			</div>
			<!-- end  .flexslider. image-slider span4 -->
			<div class="span8">
				<h2 class="short_headline"><span>художественное отделение</span></h2>
				<p>
                    Заведующая отделением &mdash; Шутова Марина Леонидовна
                </p>
                <hr />
                <p>
                    Реализуемые образовательные программы:<br>
                    <ul>
                        <li>Дополнительная общеобразовательная программа художественно-эстетической направленности «Художественное образование»;</li>
                        <li>Дополнительные предпрофессиональные программы в области изобразительного искусства «Живопись».</li>
                    </ul>
                </p>

			</div>
			<!--close span8-->
		</div>
		<!--close row-fluid-->

	</div>
	<!--close .container id="main-content" --> 
	<!--begin footer -->

{% endblock %}