{% load staticfiles %}

<!doctype html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en" dir="ltr"> <![endif]-->
<!--[if IE 7]> <html class="no-js lt-ie9 lt-ie8" lang="en" dir="ltr"> <![endif]-->
<!--[if IE 8]> <html class="no-js lt-ie9" lang="en" dir="ltr"> <![endif]-->
<!--[if gt IE 8]><!--><html class="no-js" lang="en" dir="ltr"><!--<![endif]-->

<head>
<link href='http://fonts.googleapis.com/css?family=Noto+Sans&subset=latin,cyrillic-ext,cyrillic' rel='stylesheet' type='text/css'>
<title>МАУ "Дворец спорта" г. Белоярский</title>

<!-- Meta Data ================ -->
<meta charset="UTF-8" />
<meta name="description" content="Fill this in with your information" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta name="apple-mobile-web-app-capable" content="yes" />

<!-- CSS ================ -->
<link rel="stylesheet" href="{% static 'assets/css/bootstrap.min.css' %}" type="text/css"/>
<link rel="stylesheet" href="{% static 'assets/css/style.css' %}" type="text/css"/>
<link rel="stylesheet" href="{% static 'assets/css/header-1.css' %}" type="text/css"/>

{% comment %} ====== custom CSS ===== {% endcomment %}
<link rel="stylesheet" href="{% static 'assets/css/main.css' %}" type="text/css"/>


<!-- lemmon slider variable width slider for images -->
<link rel="stylesheet" href="{% static 'assets/css/lemmon-slider.css' %}" type="text/css" media="screen" />

<!-- Icons ================ -->
<!-- For non-Retina iPhone, iPod Touch, and Android 2.1+ devices: -->
<link rel="apple-touch-icon-precomposed" href="apple-touch-icon-precomposed.png" />
<!-- For first- and second-generation iPad: -->
<link rel="apple-touch-icon-precomposed" sizes="72x72" href="apple-touch-icon-72x72-precomposed.png" />
<!-- For iPhone with high-resolution Retina display: -->
<link rel="apple-touch-icon-precomposed" sizes="114x114" href="apple-touch-icon-114x114-precomposed.png" />
<!-- For third-generation iPad with high-resolution Retina display: -->
<link rel="apple-touch-icon-precomposed" sizes="144x144" href="apple-touch-icon-144x144-precomposed.png" />
<link rel="shortcut icon" href="../static/img/favicon.png" />

{% block css_extra %}

{% endblock %}
<!-- Open Graph for facebook
http://graph.facebook.com/[UserName] replace [UserName]
with yours and get your fb:admis content information where the XXXX goes.
================================================== -->
<meta property="og:title" content="{{ceo.og.title}}" />
<meta property="og:type" content="{{ceo.og.type}}" />
<meta property="og:url" content="{{ceo.og.url}}" />
<meta property="og:image" content="{{ceo.og.}}"/>
<meta property="og:site_name" content="{{ceo.og.site_name}}" />
<meta property="fb:admins" content="XXXXX" />
<meta property="og:locale" content="en_us" />
<meta property="og:description" content="{{ceo.og.description}}" />


<!-- SCRIPTS ============================================== -->
		<!--	NOTE:: jquery 1.9.1 supports older ie, 2.0 does not, but 1.9.1 does not work well on ie8 and
				lower so version 1.7.2 is called for older versions of ie
				:: calling jQuery in the head for ajax work if necessary.
				-->
		<!--[if gt IE 8]><!-->
		<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
		<script>window.jQuery || document.write('<script src="../static/assets/js/jquery-1.9.1.min.js"><\/script>')</script>
		<!--<![endif]-->
		<!--[if lte IE 8]>
			<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
		<![endif]-->

<!-- Add to Head after Style sheet http://modernizr.com/docs/#installing  ================ -->
<script src="{% static 'assets/js/modernizr.js' %}"></script><!-- js multiple backgrounds svg background size -->

<!-- cyrillic font -->
    <style>
      body
      {
        font-family: 'Noto Sans', sans-serif;
      }
    </style>

</head>
<body class="index">

<!-- begin accesibility skip to nav skip content -->
<ul class="visuallyhidden" id="top">
	<li><a href="#nav" title="Skip to navigation" accesskey="n">Skip to navigation</a></li>
	<li><a href="#page" title="Skip to content" accesskey="c">Skip to content</a></li>
</ul>
<!-- end /.visuallyhidden accesibility-->

<!-- mobile navigation trigger-->
<h5 class="mobile_nav"><a href="javascript:void(0)">&nbsp;<span></span></a></h5>
<!--end mobile navigation trigger-->

<section class="container preheader">
	<div class="phone"><a href="tel:83467021647" class="tele">8(34670)25775</a></div>
	<ul class="social">
		<li><a class="socicon small vk" href="https://vk.com/club135765644" data-placement="bottom" title="Наша группа ВКонтакте"></a></li>
	</ul>
</section>

<!-- begin .header-->
 <header class="header clearfix">
{#     <img src="{% static 'assets/images/print-logo.png'%}" class="print logo" alt="Дворец спорта" />#}

	<div class="container">
		<div class="mobile-menu-holder"><!--clone menu here for mobile--></div>
		<!-- begin #main_menu -->
		<nav id="main_menu">
			<ul class="primary_menu">
				<li ><a href="/">Главная</a></li>
				<li ><a href="/structure/">Структура</a></li>
                <li><a href="/docs/">Документы</a></li>
                <li><a href="/info/">Информация</a></li>
                <li><a href="/contact/">Контакты</a></li>
                <li><a href="/gto/">ГТО</a></li>
                <li class="parent"><a href="javascript:void(0)">События<i></i></a>
					<ul>
						<li><a href="/afisha/">Афиша</a></li>
						<li><a href="/news/">Новости</a></li>
					</ul>
				</li>
			</ul>
		</nav>
		<!-- close / #main_menu -->

		<!-- begin #logo -->
{#		<div id="logo"> <a href="/"><img alt="" src="{% static 'assets/images/trans.gif' %}" /><em>Дворец спорта</em><!--effing ie7 support--></a> </div>#}
	    <!-- end #logo -->

	</div>

	<!-- close / .container-->
</header>
<!-- close /.header -->


    <!-- Основной контент  -->

    {% block content %}{% endblock %}

	<!-- Конец. Основной контент  -->

    <!--begin footer -->
	<footer id="footer" class="clearfix">
		<div class="container"><!--footer container-->


			<div class="row-fluid">
				<div class="span11">

					<section>
						<h4>Мы в социальных сетях:</h4>
						<ul class="social">
							<li><a class="socicon vk" href="https://vk.com/club135765644" title="ВКонтакте"></a></li>

						</ul>
					</section>
					<!--close section-->

				</div>
				<!-- close .span8 -->

                <!-- beldsi 16-01-2014 знак возрастного ограничения 6+ на всех страницах сайта -->
                <div class="span1">
                    <section>
                        <img src="{% static 'assets/images/Age6Plus-64x64.png' %}">
                    </section>
				</div>


			</div>
			<!-- close .row-fluid-->
		</div>
		<!-- close footer .container-->

		<!--change this to your stuff-->
		<section class="footerCredits">
			<div class="container">
				<ul class="clearfix">
					<li>© 2017 МАУ «Дворец спорта» г.Белоярский</li>
{#  					<li><a href="/sitemap/">Карта сайта</a></li>#}
                    <li><a href="http://ip34.ru/">Разработка сайта &mdash; ip34.ru</a></li>
				</ul>
			</div>
			<!--footerCredits container-->
		</section>
		<!--close section-->
	</footer>
	<!--/.footer-->

	<span class="backToTop"><a href="#top">back to top</a></span> </div>
<!-- close #page-->

<!-- JS JQuery ================ -->
<script src="{% static 'assets/js/bootstrap.min.js' %}"></script>


<script src=".{% static 'assets/js/lemmon-slider.min.js' %}"></script><!-- lemmon slider js -->

<!--initialize scripts / custom scripts all pages-->
<script src="{% static 'assets/js/custom.js' %}"></script>

<!-- Yandex.Metrika counter -->
<script type="text/javascript">
    (function (d, w, c) {
        (w[c] = w[c] || []).push(function() {
            try {
                w.yaCounter41726044 = new Ya.Metrika({
                    id:41726044,
                    clickmap:true,
                    trackLinks:true,
                    accurateTrackBounce:true,
                    webvisor:true
                });
            } catch(e) { }
        });

        var n = d.getElementsByTagName("script")[0],
            s = d.createElement("script"),
            f = function () { n.parentNode.insertBefore(s, n); };
        s.type = "text/javascript";
        s.async = true;
        s.src = "https://mc.yandex.ru/metrika/watch.js";

        if (w.opera == "[object Opera]") {
            d.addEventListener("DOMContentLoaded", f, false);
        } else { f(); }
    })(document, window, "yandex_metrika_callbacks");
</script>
<noscript><div><img src="https://mc.yandex.ru/watch/41726044" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
<!-- /Yandex.Metrika counter -->

</body>
</html>
