{% extends "base.html"  %}
{% block content %}
<!-- close /.header --> 

<!-- begin #page - the container for everything but header -->
<div id="page">
	<div class="container clearfix" id="main-content">
		<h2 class="short_headline"><span>контактная информация</span></h2>
        <div class="row-fluid reverse-order contact-page">
			<div class="span5">
                <p> <strong>Муниципальное автономное образовательное учреждение дополнительного образования детей<br>
                    в области культуры Белоярского района «Детская школа искусств г.Белоярский».<br></strong>
                    ул. Набережная, д. 17<br>
                    г. Белоярский, ХМАО &mdash; Югра,<br>
                    Тюменская обл., Россия, 628162<br>
                    <i class="icon-phone"></i><strong>Телефон (факс):</strong> <a href="tel:(34670)21647" class="tele">(34670)21647</a><br>
                    <i class="socicon email"></i><strong>Электронная почта:</strong> <a href="mailto:email@domain.com">belojarskaja.dshi@mail.ru</a>
                </p>
			</div>
			<!--close span5 -->
			
			<div class="span7">
                <script type="text/javascript" charset="utf-8" src="//api-maps.yandex.ru/services/constructor/1.0/js/?sid=C5DRKkppgnMrQJm7_qExKv1flCupVpDZ&width=600&height=450"></script>
			</div>
			<!--close span7 -->


			<p class="clearfix">
			<hr />
              <ul>
                <li>
                    628162, Тюменская область, Ханты-Мансийский автономный округ-Югра,<br>
                    г.Белоярский, улица Набережная, дом 17;<br>
                    тел:(34670)21647
                </li>
                <li>
                    628174, Тюменская область, Ханты-Мансийский автономный округ-Югра,<br>
                    Белоярский район, село Казым, ул.Школьная, дом 7а;<br>
                    тел:(34670)31308
                </li>
                <li>
                    628177, Тюменская область, Ханты-Мансийский автономный округ-Югра,<br>
                    Белоярский район, поселок Сосновка,  улица Школьная, дом 5а;<br>
                    тел:(34670)46546
                </li>
                <li>
                    628169, Тюменская область, Ханты-Мансийский автономный округ-Югра,<br>
                    Белоярский район, поселок Сорум,  улица Таежная, дом 9;<br>
                    тел:(34670)36668
                </li>
                <li>
                    628172, Тюменская область, Ханты-Мансийский автономный округ-Югра,<br>
                    Белоярский район, поселок Верхнеказымский,  микрорайон  2, дом 5;<br>
                    тел:(34670)47562
                </li>
                <li>
                    628173, Тюменская область, Ханты-Мансийский автономный округ-Югра,<br>
                    Белоярский район, поселок Лыхма, ул.ЛПУ, дом 38;<br>
                    тел:(34670)48580
                </li>
                <li>
                    628179, Тюменская область, Ханты-Мансийский автономный округ-Югра,<br>
                    Белоярский район, село Полноват, ул.Собянина дом 1Б, пом.2;<br>
                    тел:(34670)33641
                </li>
              </ul>
            </p>

		</div>
		<!--close row-fluid--> 
	</div>
	<!--close .container role="main-content" --> 
	
	<!--begin footer -->
{% endblock %}