{% extends "base.html"  %}
{% block content %}
<!-- close /.header --> 

<!-- begin #page - the container for everything but header -->
<div id="page">

	<div class="container clearfix" id="main-content">
   		<h2 class="short_headline"><span>фотогалерея</span></h2>
		<!--begin main content-->

	<!--notice how sliders and are outside the this main content div-->
	<div class="container clearfix" id="main-content"> 
		<!-- thumbnail layout-->
		<div class="thumb-gallery row-fluid">
			<ul>
                <!-- хор доминанта -->
                <li> <a class="hover fancyme" data-fancybox-group="gallery"
                         href="../static/demo/portfolio/hd001.jpg">
                    <img src="../static/demo/fresh-work/hd001.jpg" alt="" />
					<div>
						<h4>хор «Доминанта»</h4>

					</div>
					</a> </li>
                <li> <a class="hover fancyme" data-fancybox-group="gallery"
                         href="../static/demo/portfolio/hd002.jpg">
                    <img src="../static/demo/fresh-work/hd002.jpg" alt="" />
					<div>
						<h4>хор «Доминанта»</h4>
					</div>
					</a> </li>

                <li> <a class="hover fancyme" data-fancybox-group="gallery"
                         href="../static/demo/portfolio/hd005.jpg">
                    <img src="../static/demo/fresh-work/hd005.jpg" alt="" />
					<div>
						<h4>хор «Доминанта»</h4>
					</div>
					</a> </li>
                <li> <a class="hover fancyme" data-fancybox-group="gallery"
                         href="../static/demo/portfolio/hd006.jpg">
                    <img src="../static/demo/fresh-work/hd006.jpg" alt="" />
					<div>
							<h4>хор «Доминанта»</h4>
					</div>
					</a> </li>
                <li> <a class="hover fancyme" data-fancybox-group="gallery"
                         href="../static/demo/portfolio/hd007.jpg">
                    <img src="../static/demo/fresh-work/hd007.jpg" alt="" />
					<div>
							<h4>хор «Доминанта»</h4>
					</div>
					</a> </li>
                <li> <a class="hover fancyme" data-fancybox-group="gallery"
                         href="../static/demo/portfolio/hd008.jpg">
                    <img src="../static/demo/fresh-work/hd008.jpg" alt="" />
					<div>
							<h4>хор «Доминанта»</h4>
					</div>
					</a> </li>
                <li> <a class="hover fancyme" data-fancybox-group="gallery"
                         href="../static/demo/portfolio/hd009.jpg">
                    <img src="../static/demo/fresh-work/hd009.jpg" alt="" />
					<div>
							<h4>хор «Доминанта»</h4>
					</div>
					</a> </li>
                <li> <a class="hover fancyme" data-fancybox-group="gallery"
                         href="../static/demo/portfolio/hd010.jpg">
                    <img src="../static/demo/fresh-work/hd010.jpg" alt="" />
					<div>
							<h4>хор «Доминанта»</h4>
					</div>
					</a> </li>
                <li> <a class="hover fancyme" data-fancybox-group="gallery"
                         href="../static/demo/portfolio/hd011.jpg">
                    <img src="../static/demo/fresh-work/hd011.jpg" alt="" />
					<div>
							<h4>хор «Доминанта»</h4>
					</div>
					</a> </li>
                <li> <a class="hover fancyme" data-fancybox-group="gallery"
                         href="../static/demo/portfolio/hd012.jpg">
                    <img src="../static/demo/fresh-work/hd012.jpg" alt="" />
					<div>
							<h4>хор «Доминанта»</h4>
					</div>
					</a> </li>
                <li> <a class="hover fancyme" data-fancybox-group="gallery"
                         href="../static/demo/portfolio/hd013.jpg">
                    <img src="../static/demo/fresh-work/hd013.jpg" alt="" />
					<div>
							<h4>хор «Доминанта»</h4>
					</div>
					</a> </li>

                <li> <a class="hover fancyme" data-fancybox-group="gallery"
                         href="../static/demo/portfolio/hd015.jpg">
                    <img src="../static/demo/fresh-work/hd015.jpg" alt="" />
					<div>
							<h4>хор «Доминанта»</h4>
					</div>
					</a> </li>
                <li> <a class="hover fancyme" data-fancybox-group="gallery"
                         href="../static/demo/portfolio/hd016.jpg">
                    <img src="../static/demo/fresh-work/hd016.jpg" alt="" />
					<div>
							<h4>хор «Доминанта»</h4>
					</div>
					</a> </li>

                <!-- народные инструменты -->
                <li> <a class="hover fancyme" data-fancybox-group="gallery"
                         href="../static/demo/portfolio/ni001.jpg">
                    <img src="../static/demo/fresh-work/ni001.jpg" alt="" />
					<div>
						<h4>Оркестр русских народных инструментов</h4>

					</div>
					</a> </li>
                <li> <a class="hover fancyme" data-fancybox-group="gallery"
                         href="../static/demo/portfolio/ni002.jpg">
                    <img src="../static/demo/fresh-work/ni002.jpg" alt="" />
					<div>
							<h4>Оркестр русских народных инструментов</h4>
					</div>
					</a> </li>
                <li> <a class="hover fancyme" data-fancybox-group="gallery"
                         href="../static/demo/portfolio/ni003.jpg">
                    <img src="../static/demo/fresh-work/ni003.jpg" alt="" />
					<div>
							<h4>Оркестр русских народных инструментов</h4>
					</div>
					</a> </li>
                <li> <a class="hover fancyme" data-fancybox-group="gallery"
                         href="../static/demo/portfolio/ni004.jpg">
                    <img src="../static/demo/fresh-work/ni004.jpg" alt="" />
					<div>
							<h4>Оркестр русских народных инструментов</h4>
					</div>
					</a> </li>
                <li> <a class="hover fancyme" data-fancybox-group="gallery"
                         href="../static/demo/portfolio/ni005.jpg">
                    <img src="../static/demo/fresh-work/ni005.jpg" alt="" />
					<div>
							<h4>Оркестр русских народных инструментов</h4>
					</div>
					</a> </li>
                <li> <a class="hover fancyme" data-fancybox-group="gallery"
                         href="../static/demo/portfolio/ni006.jpg">
                    <img src="../static/demo/fresh-work/ni006.jpg" alt="" />
					<div>
							<h4>Оркестр русских народных инструментов</h4>
					</div>
					</a> </li>

                <!-- духовые инструменты -->
                <li> <a class="hover fancyme" data-fancybox-group="gallery"
                         href="../static/demo/portfolio/di001.jpg">
                    <img src="../static/demo/fresh-work/di001.jpg" alt="" />
					<div>
							<h4>Образцовый художественный коллектив — юношеский эстрадно-духовой оркестр</h4>
<!--						<p>Identity</p>              -->
					</div>
					</a> </li>
				<li> <a class="hover fancyme" data-fancybox-group="gallery"
                         href="../static/demo/portfolio/di002.jpg">
                    <img src="../static/demo/fresh-work/di002.jpg" alt="" />
					<div>
						<h4>Образцовый художественный коллектив — юношеский эстрадно-духовой оркестр</h4>
					</div>
					</a> </li>
				<li> <a class="hover fancyme" data-fancybox-group="gallery"
                         href="../static/demo/portfolio/di003.jpg">
                    <img src="../static/demo/fresh-work/di003.jpg" alt="" />
					<div>
						<h4>Образцовый художественный коллектив — юношеский эстрадно-духовой оркестр</h4>
					</div>
					</a> </li>
				<li> <a class="hover fancyme" data-fancybox-group="gallery"
                         href="../static/demo/portfolio/di004.jpg">
                    <img src="../static/demo/fresh-work/di004.jpg" alt="" />
					<div>
						<h4>Образцовый художественный коллектив — юношеский эстрадно-духовой оркестр</h4>
					</div>
					</a> </li>
				<li> <a class="hover fancyme" data-fancybox-group="gallery"
                         href="../static/demo/portfolio/di005.jpg">
                    <img src="../static/demo/fresh-work/di005.jpg" alt="" />
					<div>
						<h4>Образцовый художественный коллектив — юношеский эстрадно-духовой оркестр</h4>
					</div>
					</a> </li>
				<li> <a class="hover fancyme" data-fancybox-group="gallery"
                         href="../static/demo/portfolio/di006.jpg">
                    <img src="../static/demo/fresh-work/di006.jpg" alt="" />
					<div>
						<h4>Образцовый художественный коллектив — юношеский эстрадно-духовой оркестр</h4>
					</div>
					</a> </li>
				<li> <a class="hover fancyme" data-fancybox-group="gallery"
                         href="../static/demo/portfolio/di007.jpg">
                    <img src="../static/demo/fresh-work/di007.jpg" alt="" />
					<div>
						<h4>Образцовый художественный коллектив — юношеский эстрадно-духовой оркестр</h4>
					</div>
					</a> </li>
				<li> <a class="hover fancyme" data-fancybox-group="gallery"
                         href="../static/demo/portfolio/di008.jpg">
                    <img src="../static/demo/fresh-work/di008.jpg" alt="" />
					<div>
						<h4>Образцовый художественный коллектив — юношеский эстрадно-духовой оркестр</h4>
					</div>
					</a> </li>
				<li> <a class="hover fancyme" data-fancybox-group="gallery"
                        href="../static/demo/portfolio/di009.jpg">
                   <img src="../static/demo/fresh-work/di009.jpg" alt="" />
					<div class="title">
						<h4>Образцовый художественный коллектив — юношеский эстрадно-духовой оркестр</h4>
					</div>
					</a> </li>
				<li> <a class="hover fancyme" data-fancybox-group="gallery"
                         href="../static/demo/portfolio/di010.jpg">
                    <img src="../static/demo/fresh-work/di010.jpg" alt="" />
					<div>
						<h4>Образцовый художественный коллектив — юношеский эстрадно-духовой оркестр</h4>
					</div>
					</a> </li>

                <!-- вертикальные -->
                <li> <a class="hover fancyme" data-fancybox-group="gallery"
                         href="../static/demo/portfolio/hd003.jpg">
                    <img src="../static/demo/fresh-work/hd003.jpg" alt="" />
					<div>
						<h4>хор «Доминанта»</h4>
					</div>
					</a> </li>
                <li> <a class="hover fancyme" data-fancybox-group="gallery"
                         href="../static/demo/portfolio/hd004.jpg">
                    <img src="../static/demo/fresh-work/hd004.jpg" alt="" />
					<div>
						<h4>хор «Доминанта»</h4>
					</div>
					</a> </li>
                <li> <a class="hover fancyme" data-fancybox-group="gallery"
                         href="../static/demo/portfolio/hd014.jpg">
                    <img src="../static/demo/fresh-work/hd014.jpg" alt="" />
					<div>
						<h4>хор «Доминанта»</h4>
					</div>
					</a> </li>

			</ul>
		</div>
		<!--end .thumb-gallery .row-fluid--> 
		
	</div>
</div>
	<!--close .container role="main-content" --> 
	
	<!--begin footer -->
{% endblock %}