{% extends "base.html"  %}
{% block content %}
<!-- close /.header -->

<!-- Основной контент -->

<!-- begin #page - the container for everything but header -->
<div id="page">
	<!--
    <div class="hero-unit center no-border">
		<div class="container" style="font-family: 'Noto Sans', sans-serif;">
			<h5>Музыкальное отделение</h5>
		</div>

	</div>
    -->
	<!--close hero-unit-->
	<div class="container clearfix" id="main-content"> 
		<!--begin main content-->
		<div class="row-fluid"> 
			<!-- Begin image slider -->
			<div class="flexslider image-slider span4">
				<ul class="slides">
					<!--begin slide content inside each li tag-->
					<li> <img alt="" src="../static/demo/boxed-slider/h007.jpg" />
						<div class="caption no-border">
							<p></p>
						</div>
					</li>
					<li> <img alt="" src="../static/demo/boxed-slider/m002.jpg" />
						<div class="caption no-border">
							<p></p>
						</div>
					</li>
					<li> <img alt="" src="../static/demo/boxed-slider/h003.jpg" />
						<div class="caption no-border">
							<p></p>
						</div>
					</li>
					<li> <img alt="" src="../static/demo/boxed-slider/m004.jpg" />
						<div class="caption no-border">
							<p></p>
						</div>
					</li>
					<li> <img alt="" src="../static/demo/boxed-slider/h002.jpg" />
						<div class="caption no-border">
							<p></p>
						</div>
					</li>
					<li> <img alt="" src="../static/demo/boxed-slider/m006.jpg" />
						<div class="caption no-border">
							<p></p>
						</div>
					</li>
					<li> <img alt="" src="../static/demo/boxed-slider/h001.jpg" />
						<div class="caption no-border">
							<p></p>
						</div>
					</li>
					<li> <img alt="" src="../static/demo/boxed-slider/m008.jpg" />
						<div class="caption no-border">
							<p></p>
						</div>
					</li>
					<li> <img alt="" src="../static/demo/boxed-slider/h009.jpg" />
						<div class="caption no-border">
							<p></p>
						</div>
					</li>
					<li> <img alt="" src="../static/demo/boxed-slider/m010.jpg" />
						<div class="caption no-border">
							<p></p>
						</div>
					</li>
				</ul>
			</div>
			<!-- end  .flexslider. image-slider span4 -->
			<div class="span8">
				<h2 class="short_headline"><span>администрация</span></h2>
				<p>
                    <ul>
                        <li>Директор &mdash; Минакова Елена Владимировна;</li>
                        <li>Заместитель директора по учебной части &mdash; Варданян Рузанна Дмитриевна;</li>
                        <li>Заместитель директора по управлению персоналом &mdash; Никитошенко Татьяна Владимировна;</li>
                        <li>Заместитель директора по административно-хозяйственной части &mdash; Христолюбова Наталия Эдуардовна.</li>
                        <li>Главный бухгалтер &mdash; Хасинаева Анастасия Михайловна;</li>
                        <li>Заместитель главного бухгалтера &mdash; Шевчук Анастасия Владимировна;</li>
                        <li>Бухгалтер &mdash; Ткалун Евгения Николаевна;</li>
                        <li>Бухгалтер &mdash; Никулина Изида Гаязовна.</li>
                    </ul>
                </p>
			</div>
			<!--close span8-->
		</div>
		<!--close row-fluid-->

	</div>
	<!--close .container id="main-content" --> 
	<!--begin footer -->

{% endblock %}