{% extends "base.html"  %}
{% block content %}
<!-- close /.header -->

<!-- Основной контент -->
<!-- begin #page - the container for everything but header -->
<div id="page">
	<!--
    <div class="hero-unit center no-border">
		<div class="container" style="font-family: 'Noto Sans', sans-serif;">
			<h5>Музыкальное отделение</h5>
		</div>

	</div>
    -->
	<!--close hero-unit-->
	<div class="container clearfix" id="main-content"> 
		<!--begin main content-->
		<div class="row-fluid"> 
			<!-- Begin image slider -->
			<div class="flexslider image-slider span4">
				<ul class="slides">
					<!--begin slide content inside each li tag-->
					<li> <img alt="" src="../static/demo/boxed-slider/m001.jpg" />
						<div class="caption no-border">
							<p></p>
						</div>
					</li>
					<li> <img alt="" src="../static/demo/boxed-slider/m002.jpg" />
						<div class="caption no-border">
							<p></p>
						</div>
					</li>
					<li> <img alt="" src="../static/demo/boxed-slider/m003.jpg" />
						<div class="caption no-border">
							<p></p>
						</div>
					</li>
					<li> <img alt="" src="../static/demo/boxed-slider/m004.jpg" />
						<div class="caption no-border">
							<p></p>
						</div>
					</li>
					<li> <img alt="" src="../static/demo/boxed-slider/m005.jpg" />
						<div class="caption no-border">
							<p></p>
						</div>
					</li>
					<li> <img alt="" src="../static/demo/boxed-slider/m006.jpg" />
						<div class="caption no-border">
							<p></p>
						</div>
					</li>
					<li> <img alt="" src="../static/demo/boxed-slider/m007.jpg" />
						<div class="caption no-border">
							<p></p>
						</div>
					</li>
					<li> <img alt="" src="../static/demo/boxed-slider/m008.jpg" />
						<div class="caption no-border">
							<p></p>
						</div>
					</li>
					<li> <img alt="" src="../static/demo/boxed-slider/m009.jpg" />
						<div class="caption no-border">
							<p></p>
						</div>
					</li>
					<li> <img alt="" src="../static/demo/boxed-slider/m010.jpg" />
						<div class="caption no-border">
							<p></p>
						</div>
					</li>

                    
				</ul>
			</div>
			<!-- end  .flexslider. image-slider span4 -->
			<div class="span8">
				<h2 class="short_headline"><span>музыкальное отделение</span></h2>
				<p>
                    В состав музыкального отделения входят:
                    <ul>
                        <li>фортепианный отдел;</li>
                        <li>отдел народных инструментов;</li>
                        <li>отдел духовых инструментов;</li>
                        <li>теоретический отдел;</li>
				    </ul>
                </p>
                <hr />
				<p>
                    Заведующие отделами:<br>
                    <ul>
                        <li>фортепианный отдел &mdash; Хутинаева Елена Анатольевна;</li>
                        <li>отдел народных инструментов &mdash; Таран Оксана Валерьевна;</li>
                        <li>отдел духовых инструментов &mdash; Гонтаренко Геннадий Федорович.</li>
                        <li>теоретический отдел &mdash; Варданян Рузанна Дмитриевна;</li>
				    </ul>
                </p>
                <hr />
                <p>
                    Коллективы:
                    <ul>
                        <li>Образцовый художественный коллектив &mdash; юношеский эстрадно-духовой оркестр, руководитель Гонтаренко Геннадий Федорович; </li>
                        <li>Оркестр русских народных инструментов, руководитель Макаров Павел Сергеевич; </li>
                        <li>Ансамбль преподавателей &mdash; «Русский сувенир»;</li>
                        <li>Хоровые коллективы:</li>
                            <ul>
                                <li>подготовительный хор;</li>
                                <li>младший хор;</li>
                                <li>старший хор;</li>
                                <li>хор мальчиков;</li>
                                <li>хор «Доминанта»;</li>
                            </ul>
                        <li>Руководитель хоровых коллективов &mdash; Аветисян Кристина Коляевна.</li>
                    </ul>
                </p>
			</div>
			<!--close span8-->
		</div>
		<!--close row-fluid-->

	</div>
	<!--close .container id="main-content" --> 
	<!--begin footer -->

    {% endblock %}