{% extends "base.html"  %}
{% block content %}
<!-- close /.header -->

<!-- begin #page - the container for everything but header -->
<div id="page">
	<div class="container visible-phone">
		<p class="right"><a class="btn btn-primary scrollto" href="#secondary-nav">Page Menu &nbsp;<i class="icon-align-justify"></i></a></p>
	</div>

	<!--close hero-unit-->
	<div class="container clearfix" id="main-content">
    	<h2 class="short_headline"><span>Карта сайта</span></h2>
	<!--close hero-unit-->
		<ul class="sitemaplist">
			<li><a href="/">Главная</a></li>
			<li><a href="/structure/">Структура</a></li>
            <li><a href="/docs/">Документы</a></li>
            <li><a href="/info/">Информация</a></li>
            <li><a href="/contact/">Контакты</a></li>
			<li>События
				<ul>
					<li><a href="/afisha/">Афиша</a></li>
					<li><a href="/news/">Новости</a></li>
				</ul>
			</li>
			<li>Официальные сайты
				<ul>
                    <li><a href="http://www.admbel.ru/">Белоярский район. Ханты-Мансийский автономный округ-Югра. Официальный сайт органов местного самоуправления</a></li>
				</ul>
			</li>

		</ul>
	</div>
	<!--close .container id="main-content" -->
	<!--begin footer -->
{% endblock %}
