{% extends "base.html"  %}
{% block content %}
<!-- close /.header -->

<!-- begin #page - the container for everything but header -->
<div id="page">
	<div class="container visible-phone">
		<p class="right"><a class="btn btn-primary scrollto" href="#secondary-nav">Page Menu &nbsp;<i class="icon-align-justify"></i></a></p>
	</div>

	<!--close hero-unit-->
	<div class="container clearfix" id="main-content">
    	<h2 class="short_headline"><span>Карта сайта</span></h2>
	<!--close hero-unit-->
		<ul class="sitemaplist">
			<li><a href="/">Главная</a></li>
			<li>Структура
				<ul>
					<li><a href="/music/">Музыкальное отделение</a></li>
					<li><a href="/art/">Художественное отделение</a></li>
					<li><a href="/management/">Администрация</a></li>
					<li><a href="/professors/">Преподаватели</a></li>
				</ul>
			</li>
            <li><a href="/docs/">Документы</a></li>
            <li><a href="/info/">Информация</a></li>
            <li><a href="/contact/">Контакты</a></li>
            <li><a href="/gallery/">Фотогалерея</a></li>
            <li><a href="/blankform/">Опрос</a></li>
			<li>События
				<ul>
					<li><a href="/afisha/">Афиша</a></li>
					<li><a href="/news/">Новости</a></li>
					<li><a href="/arhiv/">Архив</a></li>
				</ul>
			</li>
			<li>Официальные сайты
				<ul>
                    <li><a href="http://минобрнауки.рф/">Министерство Образования и Науки РФ</a></li>
                    <li><a href="http://www.doinhmao.ru/">Департамент образования и молодежной политики Ханты-Мансийского автономного округа — Югры</a></li>
                    <li><a href="http://www.depcultura.admhmao.ru/">Департамент культуры и искусства Ханты-Мансийского автономного округа — Югры</a></li>
                    <li><a href="http://www.edu.ru/">Федеральный портал «Российское образование»</a></li>
                    <li><a href="http://window.edu.ru/">Информационная система «Единое окно доступа к образовательным ресурсам»</a></li>
                    <li><a href="http://school-collection.edu.ru/">Единая коллекция цифровых образовательных ресурсов</a></li>
                    <li><a href="http://www.ya-roditel.ru/">Интернет-портал «Я-родитель»</a></li>
                    <li><a href="http://www.pd-ugra.ru/">Интернет-портал «Перспективное детство Югры»</a></li>
				</ul>
			</li>

		</ul>
	</div>
	<!--close .container id="main-content" --> 
	<!--begin footer -->
{% endblock %}